.player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  padding: 0.5rem 1rem;
  display: flex;

  &__content {
    flex-grow: 1;
    margin-left: 1rem;
  }

  &__artist {
    font-weight: 700;
  }

  &__play-pause {
    width: 3rem;
    height: 3rem;
    background: transparent;
    border-radius: 1.5rem;
    border: 1px solid #e0e0e0;
    padding: 0.5rem;
    margin: -1px 0;

    svg {
      width: 1.5rem;
      display: block;
      margin-left: auto;
    }
  }

  &--playing &__play-pause {
    svg {
      margin-right: auto;
    }
  }

  &__progress {
    background: #e0e0e0;
  }

  &__progress-bar {
    height: 0.2rem;
    width: 0;
    background-color: black;
  }
}
