.search-form {
  display: flex;
  align-items: flex-end;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1em;

  &__input {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    flex-grow: 1;
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    border-bottom: 3px solid #999;
    outline: 0;
    padding-right: 1em;
    &:focus {
      border-bottom-color: $color-brand;
    }
  }

  &__button {
    line-height: inherit;
    border: 0;
    width: 2em;
    margin-left: -0.3em;
    margin-right: 0.2em;
    background: transparent;
    svg {
      vertical-align: top;
    }
  }

  &__clear-button {
    line-height: inherit;
    border: 0;
    width: 1em;
    margin-left: -0.8em;
    vertical-align: middle;
    background: transparent;
    svg {
    }
  }
}
