.search-form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  &__label {
    display: block;
    flex: 1 0 100%;
    color: #999;
    font-size: rem(12px);
  }
  &__input {
    font-size: inherit;
    line-height: inherit;
    flex-grow: 1;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #999;
    outline: 0;
    &:focus {
      border-bottom-color: $color-brand;
    }
  }
  &__button {
    line-height: inherit;
    border: 0;
    width: 2rem;
    vertical-align: middle;
    background: transparent;
    svg {
      vertical-align: middle;
    }
  }
}
