.search-form {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1em;

  &__input {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    flex-grow: 1;
    background: transparent;
    border: 0;
    border-bottom: 3px solid #999;
    outline: 0;
    &:focus {
      border-bottom-color: $color-brand;
    }
  }
  &__button {
    line-height: inherit;
    border: 0;
    width: 2em;
    vertical-align: middle;
    background: transparent;
    svg {
      vertical-align: middle;
    }
  }
}
